/* TodoItem 스타일 */
.todo-item {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	border-radius: 8px;
	width: 100%;
}

.todo-text-container {
	display: flex;
	align-items: center;
	width: 100%;
}

.todo-details {
	display: flex;
	flex-direction: column; /* 제목과 메모를 세로로 정렬 */
}

.todo-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.todo-memo {
	font-size: 14px;
	color: #777;
	margin-bottom: 5px;
}

button {
	/* background-color: #ff4d4d; */
	border: none;
	color: blue;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	color: #121215;
}

input[type="checkbox"] {
	margin-right: 10px;
}
